<html>

<head>
    <title>Fi탳캒 de lichidare</title>
</head>

<body>
    <div class="header-container">
        <p class="col">
            UNIVERSITATEA DIN BUCURE탲TI <br>
            Facultatea de Matematic캒 탳i Informatic캒	<br>
            Domeniul: <%= student.domain.name %> <br>
            Programul de studii: 
            <% switch (student.domain.type) {
                case 'bachelor' : %>
                        Licen탵캒
                        <% break;
                case 'master' : %>
                        Master
                        <% break;
                } %> <br>
            Promo탵ia: 
        </p>
        <p class="col right" style="white-space: pre-wrap;">
            Forma de finan탵are:       游듽 buget/ 游듽 tax캒
            Forma de 칥nv캒탵캒m칙nt:  游듽 IF /游듽 IFR /游듽 ID
        </p>
        
    </div>
    <h3>Domnule rector,</h3>
    <p class="main">
        Subsemnatul (a) <%= student.user.lastName %> <%= student.user.firstName %>, n캒scut(캒) 칥n <%= birthDate %>,
        칥n localitatea <%= student.extra.placeOfBirthLocality %>,
        jude콖ul/sectorul <%= student.extra.placeOfBirthCounty %>, 탵ara <%= student.extra.placeOfBirthCountry %>, 
        av칙nd Codul Numeric Personal <%= student.user.CNP %>, absolvent(캒) de studii universitare de LICEN탴캑/MASTER,
        칥n sesiunea IULIE 2021, v캒 rog s캒 binevoi콖i a-mi aproba eliberarea diplomei de studii. <br> <br>
        Domiciliez 칥n localitatea <%= student.extra.address.locality %>, sector/jude콖 <%= student.extra.address.county %>,
        strada <%= student.extra.address.street %>, num캒rul <%= student.extra.address.streetNumber %>,
        <% if(student.extra.address.building) { %>
            bloc <%= student.extra.address.building %>, scara <%= student.extra.address.stair %>,
            etaj <%= student.extra.address.floor %>, apartament <%= student.extra.address.apartment %>,
        <% } else { } %>
        telefon <%= student.extra.mobilePhone %>, e-mail <%= student.extra.personalEmail %>.
    </p>
    <p>
        <b>Declara탵ia absolventului:</b> <br>
        Am luat cuno탳tin탵캒 de informarea privind protec탵ia datelor cu caracter personal. (accesibil캒 la:  https://unibuc.ro/wp-content/uploads/2020/06/Informare-examene-de-finalizare-a-studiilor.pdf)
    </p>
    <div class="footer-container">
        <p class="col">
            <span>Data</span><br>
            <span>
                <%= date %>
            </span>
        </p>
        <p class="col">
            <span>Semn캒tura</span> <br>
            <span>_________________</span>
        </p>
    </div>
    <p class="center bold" style="margin-bottom: 16pt;">
        ARE/NU ARE DEBITE <br>
        (se completeaz캒 de c캒tre serviciile men탵ionate<sup>1</sup>)
    </p>
    <p class="italic">
        Biblioteca _____________________________________________________________________
    </p>
    <p class="italic">
        Serviciul contabilitate (taxe) _______________________________________________________
    </p>
    <p class="italic">
        Serviciul social __________________________________________________________________
    </p>

    <p class="footer-note">
        <sup>1 </sup>
        Avizarea fi탳ei de lichidare pentru promo탵ia 2020 se va face de c캒tre secretarul de an, f캒r캒 deplasarea absolven탵ilor,
        칥n baza situa탵iei existente la nivelul secretariatului privind eventualele debite la plata taxelor de studii 탳i a altor
        taxe de 탳colaritate, precum 탳i a listelor de debitori din anii terminali, transmise la cererea facult캒탵ii de c캒tre
        Serviciul Social al UB, respectiv de filialele BCU, cu cel pu탵in 2 zile 칥nainte de 칥nceperea peioadei de 칥nscriere la
        examenul de finalizare. Debitele care nu pot fi pl캒tite p칙n캒 la sf칙r탳itul perioadei de 칥nscriere din motive determinate
        de starea de urgen탵캒 sau de regulile de distan탵are social캒, vor fi achitate p칙n캒 칥n momentul eliber캒rii adeverin탵ei de
        licen탵캒, respectiv diserta탵ie, dar nu mai t칙rziu de 30 de zile de la ridicarea restric탵iilor care au condus la 칥mpiedicarea
        deplas캒rii pentru plata taxelor respective. Studen탵ii care la data 칥nscrierii au orice tip de debit sunt obliga탵i s캒 depun캒
        la secretariat fi탳a de lichidare 칥n original (cu dovada stingerii respectivului debit) p칙n캒 칥n momentul eliber캒rii
        adeverin탵ei de licen탵캒/diserta탵ie, dar nu mai t칙rziu de data de 30.09.2021.
    </p>
</body>

</html>

<style>
    body {
        font-family: 'Times New Roman', Times, serif;
        font-size: 12pt;
        margin: 1.5cm;
    }

    h3 {
        text-align: center;
    }

    p.main {
        text-align: justify;
        line-height: 16pt;
    }

    p.italic {
        font-style: italic;
        line-height: 32pt;
    }

    p.bold {
        font-weight: bold;
    }

    p.center {
        text-align: center;
    }

    .footer-container,
    .header-container {
        display: flex;

    }

    .footer-container {
        margin-top: 0.5cm;
    }

    .header-container {
        font-weight: bold;
    }

    .footer-container .col,
    .header-container .col {
        flex: 1;
    }

    .footer-container .col {
        text-align: center;
        line-height: 1cm;
    }

    .col.right {
        text-align: right;
    }

    .footer-note {
        font-size: 10pt;
        text-align: justify;
    }
</style>