<html>
    <body>
        <div class="card">
            <div class="card-image centered">
                <img src="https://fmi.unibuc.ro/wp-content/uploads/2020/05/sigla-fmi-1.png">
            </div>
            <div class="card-content">
                <h2>Salutare, <%= teacherUser.firstName %> <%= teacherUser.lastName %>!</h2>
                <p>
                    Aveți o nouă cerere de asociere de la <%= studentUser.firstName %> <%= studentUser.lastName %>!
                    <br><br>
                    <b><%= application.title %></b><br>
                    <i><%= application.description %></i>
                    <% if(application.usedTechnologies) { %> 
                        <br>
                        <span>Tehnologii folosite: </span>
                        <i><%= application.usedTechnologies %></i>
                    <% } %>
                    <br><br>
                    Răspundeți cererii de asociere accesând link-ul de mai jos:
                </p>
            </div>

            <div class="card-actions">
                <div class="centered">
                    <a class="button" target="_blank" href="<%= url %>">Răspundeți cererii</a>
                </div>
            </div>
        </div>
    </body>
    <%- include('./partials/footer.ejs') %>
</html>
<%- include('./styles/main.ejs') %>
