<html>
    <body>
        <div class="card">
            <div class="card-image centered">
                <img src="https://fmi.unibuc.ro/wp-content/uploads/2020/05/sigla-fmi-1.png">
            </div>
            <div class="card-content">
                <h2>Bună ziua, <%= user.firstName %> <%= user.lastName %>!</h2>
                <p>
                    Am primit o solicitare de resetare a parolei pentru contul asociat acestui e-mail.
                    Dacă nu dvs. ați făcut această solicitare, puteți ignora acest e-mail.<br><br>
                </p>
            </div>

            <div class="card-actions">
                <div class="centered">
                    <a class="button" target="_blank" href="<%= url %>">Resetați parola</a>
                </div>
            </div>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>
<%- include('./styles/main.ejs') %>
