<html>
    <head>
        <title>Componența comisiilor</title>
    </head>
    <body>
        <% for(let i = 0; i < groups.length; i++) {
            let group = groups[i];
            let domains = group[0].domains;
            let listHeader = '';
            if(domains.length > 1) {
                listHeader += 'Domeniile ';
                for(let j = 0; j < domains.length; j++) {
                    listHeader += domains[j].name;
                    if(j + 1 < domains.length) {
                        listHeader += ', ';
                    }
                }
            } else {
                listHeader = 'Domeniul ' + domains[0].name;
            }
            let domainType;
            if(domains[0].type == 'bachelor') domainType = 'licență';
            if(domains[0].type == 'master') domainType = 'disertație';
            listHeader += ` - comisii de ${domainType} ${sessionSettings.sessionName}`; %>
            <div class="group-list">
                <h3 class="group-list-header"><%= listHeader %></h3>
                <div class="group-list-items">
                    <% for(let j = 0; j < group.length; j++) {
                        let committee = group[j];
                        let president = committee.members.find(member => member.committeeMember.role == 'president');
                        let secretary = committee.members.find(member => member.committeeMember.role == 'secretary');
                        let members = committee.members.filter(member => member.committeeMember.role == 'member'); %>
                        <div class="committee">
                            <h4 class="committee-name"><%= committee.name %></h4>
                            <table>
                                <tr>
                                    <td width="120">Președinte:</td>
                                    <td><%= president?.user?.fullName %></td>
                                </tr>
                                <% for(let k = 0; k < members.length; k++) { %>
                                    <tr>
                                        <td><%= k == 0 ? 'Membri:' : '' %></td>
                                        <td><%= members[k].user?.fullName %></td>
                                    </tr>
                                <% } %>
                                <tr>
                                    <td>Secretar: </td>
                                    <td><%= secretary?.user?.fullName %></td>
                                </tr>
                            </table>
                        </div>
                    <% } %>
                </div>
            </div>
        <% } %>

    </body>

    <style>
        html {
            width: 21cm;
            font-family: 'Liberation Serif', 'Times New Roman', Times, serif;
        }
        body {
            font-size: 12pt;
            margin: 0px;
            padding: 1cm;
            width: 100%;
            box-sizing: border-box;
        }

        .committee-name {
            margin-top: 0.5cm;
            margin-bottom: 0.1cm;
        }

        .group-list-header {
            margin-top: 0.8cm;
            margin-bottom: 0.1cm;
        }

        .committee {
            break-inside: avoid;
        }
    </style>
</html>