<html>

<head>
    <title>Fișă de lichidare</title>
</head>

<body>
    <div class="header-container">
        <p class="col">
            UNIVERSITATEA DIN BUCUREȘTI <br>
            Facultatea de Matematică și Informatică	<br>
            Domeniul: <%= student.domain.name %> <br>
            Programul de studii: <%= student.specialization.name %> <br>
            Promoția: <%= student.promotion %>
        </p>
        <p class="col right">Forma de finanțare: 
            <span style="margin-left: 16px;"></span>
            <% switch (student.fundingForm) {
                case 'budget' : %>
                    ☒ buget/ ☐ taxă
                    <% break;
                case 'tax' : %>
                    ☐ buget/ ☒ taxă
                    <% break;
                default: %>
                    ☐ buget/ ☐ taxă
                    <% break;
            } %>
            <br>
            Forma de învățământ: 
            <% switch (student.studyForm) {
                case 'if' : %>
                    ☒ IF/ ☐ IFR/☐ ID
                    <% break;
                case 'ifr' : %>
                    ☐ IF/ ☒ IFR/☐ ID
                    <% break;
                case 'id' : %>
                    ☐ IF/ ☐ IFR/☒ ID
                    <% break;
                default: %>
                    ☐ IF/ ☐ IFR/☐ ID
                    <% break;
            } %>
        </p>
        
    </div>
    <h3>Domnule rector,</h3>
    <p class="main">
        <% 
            let domainType = student.domain.type;
            let domainTypeString = domainType == 'bachelor' ? 'licență' : (domainType == 'master' ? 'master' : '');
        %>
        Subsemnatul (a) <%= student.user.lastName %> <%= student.user.firstName %>, născut(ă) în <%= birthDate %>,
        în localitatea <%= student.extra.placeOfBirthLocality %>,
        judeţul/sectorul <%= student.extra.placeOfBirthCounty %>, țara <%= student.extra.placeOfBirthCountry %>, 
        având codul Numeric Personal <%= student.user.CNP %>, absolvent(ă) de studii universitare de <%= domainTypeString %>
        în sesiunea <span style="text-transform: uppercase;"><%= student.sessionSettings.sessionName %></span>,
        vă rog să binevoiți a-mi aproba eliberarea diplomei de studii. <br> <br>
        Domiciliez în localitatea <%= student.extra.address.locality %>, sector/judeţ <%= student.extra.address.county %>,
        strada <%= student.extra.address.street %>, numărul <%= student.extra.address.streetNumber %>,
        <% if(student.extra.address.building) { %>
            bloc <%= student.extra.address.building %>, scara <%= student.extra.address.stair %>,
            etaj <%= student.extra.address.floor %>, apartament <%= student.extra.address.apartment %>,
        <% } else { } %>
        telefon <%= student.extra.mobilePhone %>, e-mail <%= student.extra.personalEmail %>.
    </p>
    <p>
        <b>Declarația absolventului:</b> <br>
        Am luat cunoștință de informarea privind protecția datelor cu caracter personal. (accesibilă la:  https://unibuc.ro/wp-content/uploads/2020/06/Informare-examene-de-finalizare-a-studiilor.pdf)
    </p>
    <div class="footer-container">
        <p class="col">
            <span>Data</span><br>
            <span>
                <%= date %>
            </span>
        </p>
        <p class="col">
            <span>Semnătura</span> <br>
            <span>_________________</span>
        </p>
    </div>
    <p class="center bold" style="margin-bottom: 16pt;">
        ARE/NU ARE DEBITE <br>
        (se completează de către serviciile menționate<sup>1</sup>)
    </p>
    <p class="italic">
        Biblioteca _____________________________________________________________________
    </p>
    <p class="italic">
        Serviciul social _________________________________________________________________ <br>
        ______________________________________________________________________________
    </p>

    <p class="footer-note">
        <span>__________________________</span> <br>
        <sup>1 </sup>
        Pentru promoția 2022 secretarul de an avizează fișa de lichidare, pe baza tabelelor 
        completate și asumate de către Bibliotecă și Servicul Social al Universității din București.
    </p>
</body>

</html>

<style>
    body {
        font-family: 'Liberation Serif', 'Times New Roman', Times, serif;
        font-size: 12pt;
        margin: 1.5cm;
        height: 25.7cm;
        position: relative;
    }

    h3 {
        text-align: center;
    }

    p.main {
        text-align: justify;
        line-height: 16pt;
    }

    p.italic {
        font-style: italic;
        line-height: 32pt;
    }

    p.bold {
        font-weight: bold;
    }

    p.center {
        text-align: center;
    }

    .footer-container,
    .header-container {
        display: flex;

    }

    .footer-container {
        margin-top: 0.5cm;
    }

    .header-container {
        font-weight: bold;
    }

    .footer-container .col,
    .header-container .col {
        flex: 1;
    }

    .footer-container .col {
        text-align: center;
        line-height: 1cm;
    }

    .col.right {
        text-align: right;
    }

    .footer-note {
        position: absolute;
        bottom: 0;
        font-size: 10pt;
        text-align: justify;
    }
</style>