<html>

<head>
    <title>Fișă de înscriere</title>
</head>

<body>
    <div class="header-container">
        <p class="col">
            UNIVERSITATEA DIN BUCUREȘTI <br>
            Facultatea de Matematică și Informatică	<br>
            Domeniul: <%= student.domain.name %> <br>
            Programul de studii: <%= student.specialization.name %> <br>
            Promoția: <%= student.promotion %>
        </p>
        <p class="col right">Forma de finanțare: 
            <span style="margin-left: 16px;"></span>
            <% switch (student.fundingForm) {
                case 'budget' : %>
                    ☒ buget/ ☐ taxă
                    <% break;
                case 'tax' : %>
                    ☐ buget/ ☒ taxă
                    <% break;
                default: %>
                    ☐ buget/ ☐ taxă
                    <% break;
            } %>
            <br>
            Forma de învățământ: 
            <% switch (student.studyForm) {
                case 'if' : %>
                    ☒ IF/ ☐ IFR/☐ ID
                    <% break;
                case 'ifr' : %>
                    ☐ IF/ ☒ IFR/☐ ID
                    <% break;
                case 'id' : %>
                    ☐ IF/ ☐ IFR/☒ ID
                    <% break;
                default: %>
                    ☐ IF/ ☐ IFR/☐ ID
                    <% break;
            } %>
            <br><br>
            Număr matricol: <%= student.identificationCode %> 
            <span style="margin-left: 8px;"></span>
            Grupa: <%= student.group %>
            <br><br>
            M.G. .........
        </p>
        
    </div>
    
    <p class="title">
        FIȘĂ DE ÎNSCRIERE <br>
        pentru examenul de finalizare a studiilor
            <% let paperTypeString;
            switch (student.domain.type) {
                case 'bachelor' : %>
                        (LICENȚĂ)
                        <% paperTypeString = 'licență';
                        break;
                case 'master' : %>
                        (DISERTAȚIE)
                        <% paperTypeString = 'disertație';
                        break;
            } %>
        <br>
        sesiunea <span style="text-transform: uppercase;"><%= student.sessionSettings.sessionName %></span>
    </p>

    <p class="table-header">Date personale</p>
    <table>
        <tr>
            <td class="first-td-1">Nume de familie la naștere</td>
            <td width="160" class="content"><%= student.extra.birthLastName %></td>
            <td width="110">Nume de familie actual</td>
            <td class="content"><%= student.user.lastName %></td>
        </tr>
    </table>
    <table>
        <tr>
            <td class="first-td-1">Prenume</td>
            <td width="285" class="content"><%= student.user.firstName %></td>
            <td width="140">Inițiala tatălui/mamei</td>
            <td class="content"><%= student.extra.parentInitial %></td>
        </tr>
    </table>
    <table>
        <tr>
            <td class="first-td-1">Fiul/fiica lui</td>
            <td width="160" class="content"><%= student.extra.fatherName %></td>
            <td width="110">și</td>
            <td class="content"><%= student.extra.motherName %></td>
        </tr>
    </table>
    <table>
        <tr>
            <td class="first-td-1">Data nașterii</td>
            <td width="160" class="content"><%= birthDate %></td>
            <td width="110">Stare civilă</td>
            <td class="content">
                <% switch (student.extra.civilState) {
                    case 'not_married' : %>
                        Necăsătorit
                        <% break;
                    case 'married' : %>
                        Căsătorit
                        <% break;
                    case 'divorced' : %>
                        Divorțat
                        <% break;
                    case 'widow' : %>
                        Văduv
                        <% break;
                    case 're_married' : %>
                        Recăsătorit
                        <% break;
                } %> <br>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td class="first-td-1">Cetățenie</td>
            <td class="content"><%= student.extra.citizenship %></td>
        </tr>
    </table>
    <table class="last">
        <tr>
            <td class="first-td-1">Etnie</td>
            <td width="160" class="content"><%= student.extra.ethnicity %></td>
            <td width="110">CNP</td>
            <td class="content"><%= student.user.CNP %></td>
        </tr>
    </table>

    <p class="table-header">Locul nașterii</p>
    <table>
        <tr>
            <td width="100">Țara</td>
            <td width="200" class="content"><%= student.extra.placeOfBirthCountry %></td>
            <td width="110">Județ/Sector</td>
            <td class="content"><%= student.extra.placeOfBirthCounty %></td>
        </tr>
    </table>
    <table class="last">
        <tr>
            <td width="100">Localitatea</td>
            <td class="content"><%= student.extra.placeOfBirthLocality %></td>
        </tr>
    </table>

    <p class="table-header">Date de contact</p>
    <table>
        <tr>
            <td width="100">Telefon fix</td>
            <td width="200" class="content"><%= student.extra.landline %></td>
            <td width="110">Telefon mobil</td>
            <td class="content"><%= student.extra.mobilePhone %></td>
        </tr>
    </table>
    <table class="last">
        <tr>
            <td width="100">E-mail</td>
            <td class="content"><%= student.extra.personalEmail %></td>
        </tr>
    </table>


    <p class="bold">
        Prezint și susțin lucrarea de <%= paperTypeString %> cu titlul:
    </p>
    <p class="italic"><%= student.paper.title %></p>

    <p>Coordonator științific: <%= student.paper.teacher.lastName %> <%= student.paper.teacher.firstName %></p>

    <p>
        <b>Declarația absolventului:</b> <br>
        Am luat cunoștință de informarea privind protecția datelor cu caracter personal. (accesibilă la:  https://unibuc.ro/wp-content/uploads/2020/06/Informare-examene-de-finalizare-a-studiilor.pdf)
    </p>

    <div class="footer-container">
        <p class="col">
            <span>Data</span><br>
            <span>
                <%= date %>
            </span>
        </p>
        <p class="col">
            <span>Semnătura</span> <br>
            <span>_________________</span>
        </p>
    </div>
</body>

</html>

<style>
    body {
        font-family: 'Liberation Serif', 'Times New Roman', Times, serif;
        font-size: 12pt;
        margin: 1.5cm;
        margin-top: 0.8cm;
        margin-bottom: 0cm;
    }

    .title {
        text-align: center;
        font-weight: bold;
        margin-top: -12px;
    }

    .table-header {
        font-size: 11pt;
        font-weight: bold;
        margin-bottom: 4px;
        margin-top: 4px;
    }

    table {
        border-spacing: 0px;
        width: 100%;
        font-size: 11pt;
        border-top: 1px solid black;
        border-left: 1px solid black;
    }

    table.last {
        border-bottom: 1px solid black;
    } 



    .first-td-1 {
        width: 140px;
    }

    td {
        border-right: 1px solid black;
        padding: 0 7px;
    }

    li {
        font-size: 10pt;
    }

    p.main {
        text-align: justify;
        line-height: 12pt;
    }

    p.italic {
        font-style: italic;
    }

    p.bold {
        font-weight: bold;
    }

    p.center {
        text-align: center;
    }

    .footer-container,
    .header-container {
        display: flex;

    }

    .footer-container {
        margin-top: 1.5cm;
    }

    .header-container {
        font-weight: bold;
        margin-bottom: 0.7cm;
    }

    .footer-container .col,
    .header-container .col {
        flex: 1;
    }

    .footer-container .col {
        text-align: center;
        line-height: 1cm;
    }

    .col.right {
        text-align: right;
    }

    .footer-note {
        font-size: 10pt;
        text-align: justify;
    }
</style>